h1 {
  font-family: Monospace;
  font-size: 80px;
}

h2 {
  font-family: Serif;
  font-size: 25px;
  font-style: italic;
  margin-top: 10px;
}

h3 {
  font-family: Serif;
  font-size: 50px;
}

h4 {
  font-family: Serif;
  font-size: 25px;
}

body {
  background-color: #d3d3d3;
}

img {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}


.bio-box {
  background-color: #a0a0a0;
  margin: 50px;
  padding: 30px;
}

h5 {
  font-family: Serif;
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

p {
  font-family: Serif;
  font-size: 25px;
}

h6 {
  font-family: Monospace;
  font-size: 30px;
}

h7 {
  font-family: Serif;
  font-size: 30px;
}
h8 {
  font-family: Serif;
  font-size: 20px;
  text-align: center;
}

.l-der-font {
  font-family: "Cinzel Decorative";
  font-size: 25px;
  Font-weight: bold;
  
}
